.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.homeTitle {
  font-size: 48px;
}

.drinksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 1000px;
}

.drinkListItem {
  background-color: #f5f5f5;
  margin: 10px;
  border-radius: 30px;
}

.drinkDisplayWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.drinkImageWrapper {
  display: 'flex';
  flex-direction: 'column';
  flex-grow: 1;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  color: black;
}

.drinkDescription {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.drinkImage {
  height: 250px;
  object-fit: contain;
}

.drinkName {
  font-size: 20px;
  margin-top: 30px;
}

.drinkNameSpan {
  font-size: 12px;
}

