

.drinksContainer{
  /* display: flex;
  flex-wrap: wrap;
  max-width: 100%; 
  border: 1px solid pink; */
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
}

.drinkWrapper {
 display: flex;
}

.drinkImage {
  height: 500px;
}

